.footer {
  background: linear-gradient(to bottom, #2b65a0, #050d14); 
  border: none;
  color: var(--text-color);
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 4px;
  border-top: 1px solid #4a7292;
	box-shadow: 0 15px 2px var(--shadow-color);

}

.footer-content {
  max-width: 960px;
  margin: 0 auto;
}

.footer-social {
  margin: 1rem 0;
}

.footer-social a {
  color: var(--text-color);
  margin: 0 0.5rem;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #1da1f2; /* Twitter blue, change as desired */
}

.footer-contact {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.footer-contact a {
  color: var(--text-color);
  margin-left: 0.3rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.footer-contact a svg {
  margin-right: 5px;
}

