/* Header Layout */
.header {
  height: 60px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  top: 0;
  width: 100%;
  z-index: 1000;
    /* border-bottom: 0 solid var(--text-color); */
  box-shadow: 0 10px 12px var(--shadow-color);
}

.logo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 36px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.logo-part1 {
  color: var(--text-color);
  font-style: italic;
  margin-right: 4px;
}

.logo-part2 {
  background: linear-gradient(to right, #86bcf1, #162a3e); 
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.header-controls {
  display: flex;
  align-items: center;
  gap: 12px;
}

.menu-toggle {
  font-size: 1.4rem;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}
.close-menu {
  background: none;
  border: none;
  font-size: 1.6rem;
  color: var(--text-color);
  align-self: flex-end;
  cursor: pointer;
  display: none;
}
/* Navigation Default */
.nav {
  display: flex;
  gap: 20px;
  transition: all 0.3s ease;
}

.nav a {
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s;
}

.nav a:hover {
  color: var(--anchor-color);
}

/* =============== MOBILE MENU =============== */
@media (max-width: 768px) {
  .close-menu {
    display: block;
    align-self: flex-end;
    margin-bottom: 10px;
  }
  .nav {
    position: fixed;
    top: 60px;
    right: 0;
    width: 70%;
    max-width: 300px;
    height: 100%;
    background-color: var(--shadow-color);
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    transform: translateX(100%);
    text-align: center;
    align-items: center;
    z-index: 1001;
  }
  
  .nav.open {
    transform: translateX(0%);
    transition: all 0.6s ease;
    height: 60vh;
    border-bottom: 1px solid green ;
    border-radius: 10px;
  }
  .nav.open:hover {
    border-radius: 20px;
    box-shadow: 0 0px 8px var(--shadow-color);
    
  }
  .nav a {
    padding: 10px;
    width: 100%;
  }
  
  .menu-toggle {
    display: block;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
  }
}

/* =============== DESKTOP STYLES =============== */
@media (min-width: 769px) {
  .nav {
    position: static;
    transform: none;
    flex-direction: row;
    height: auto;
    background-color: transparent;
    padding: 0;
  }

  .menu-toggle {
    display: none;
  }

  .backdrop {
    display: none;
  }
  .close-menu {
    display: none;
  }
}
