.results {
  border: none;
  padding: 60px 20px;
  background-color: var(--bg-color);
  text-align: center;
  box-shadow: 0 3px 10px var(--shadow-color);
  margin: 8px 8px;
  border-radius: 4px;
}

.results h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: var(--tittle-color);
}
.results-table {
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  gap: 15px;
}
.results-table h3 {
  font-size: 1.5rem;
  color: var(--button-color);
  margin-bottom: 10px;
}
.result-row {
  display: flex;
  justify-content: space-between;
  background-color: var(--card-color);
  padding: 15px 20px;
  border-radius: 6px;
  box-shadow: 0 6px 6px var(--shadow-color);
}
.result-row h3 {
  color: blue;
} 
.team-result {
  color: var(--shadow-color);
}
.score {
  color: rgba(0, 0, 0, 0.56);
  font-weight: bold;
}
span {
  font-weight: bold;
}
@media (max-width: 786px) {
  .result-row {
    flex-direction: column;
    gap: 10px;
  }
}
